<style>
    
    h2
    {
        font-family:Verdana;
    }

p{
    font-family:Verdana;
    color:white;
    font-size:0.8em;
     text-align:justify;
}
li
{
    font-family:Verdana;
    color:white;
}

.references
{
    font-size:0.8em;
}

li
{
    color:white;
    font-family:Verdana;
    font-size:0.8em;
}
    .video {
    width=100%;
    }

    </style>



<!--Move to another screen - engage in an exersize-->
<p>Watch the following clip and consider how important distraction is for Bob</p>

<a href="https://s3.amazonaws.com/a44343ff55ef-hearing-voices/bobcoping.mp4" class="video">
    <img src="file:///android_res/raw/placeholder.png" width="100%"/>
</a>

<p>Now listen again to the audio recordings of voices and try the following distraction techniques:</p>

<a href="https://s3.amazonaws.com/a44343ff55ef-hearing-voices/activityone.mp3" class="video">
    <img src="file:///android_res/raw/placeholder.png" width="100%"/>
</a>

<audio controls autoplay="autoplay">
    
    <source src="https://s3.amazonaws.com/a44343ff55ef-hearing-voices/activityone.mp3" type="audio/mp3">
        
</audio>


<p>Counting backwards from 100 in 7's</br>
Imagine building a brick wall in your mind to block out the voices<br/>
Read a passage from a newspaper or a book<br/>
Sing a song or recite the lyrics</p>

<p>Reflect upon how useful those strategies were to you</p>

<!--End of Exersize-->

<p>Hear more from Bob in the podcast section of this App.</p>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>