<style>
    
    h2
    {
        font-family:Verdana;
    }

p{
    font-family:Verdana;
    color:white;
    font-size:0.8em;
     text-align:justify;
}
li
{
    font-family:Verdana;
    color:white;
}

.references
{
    font-size:0.8em;
}

li
{
    color:white;
    font-family:Verdana;
    font-size:0.8em;
}

    </style>



<p>What community resources are there in your local area that you could let voice-hearers know about to enable them to get their 'Five Ways to Wellbeing'?</p>



<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>