<style>
    h2
    {
        font-family:Verdana;
    }
    p{
        font-family:Verdana;
        color:white;
                font-size:0.8em;
                 text-align:justify;
    }

li{
    font-family:Verdana;
    color:white;
            font-size:0.8em;
}
.references
{
    font-size:0.8em;
}
a
{
    color:white;
    text-decoration:underline;
}


    </style>


<p>People who hear voices can become socially isolated which can be due to both the voices, and because of the prejudice in society towards voice-hearers.</p>
<p>The Hearing Voices Network has groups where voice-hearers can share experiences and support each other.  Values of hearing voices groups include respecting the diversity of explanations of voice hearing, and recognising that all members have expertise to contribute to the group.</p>

<!-- New Page for Exersize-->
<p>There are hearing voices groups worldwide, with over 180 hearing groups in the UK. <br/>Do you know where your nearest hearing voices group is?</p>
<!--end new page-->


<p>It can also be useful to help people to connect socially and get involved in activities unrelated to voice-hearing. This would depend on the person's interests but could include sports, music, hobbies, religious groups, work or volunteering.</p>


<p>The 'Five Ways to Wellbeing' are actions which have been shown to improve people's wellbeing. </p>
<ul>
    <li>Connecting with other people</li>
    <li>Being physically active</li>
    <li>Taking note of the world around you</li>
    <li>Keep learning</li>
    <li>Giving to others - whether helping a neighbour or formal volunteering.</li>
    
    </ul>


<p><strong><a href="file:///android_res/raw/comex.html">Click Here to engage in an exercise.</a></strong></p>



<div class="references">
<h2>Other Links</h2>
<p>Read more about hearing voices groups in the UK at www.hearing-voices.org</p>
<p>Find information about The Five Ways to Wellbeing and a link to a free app at www.neweconomics.org or http://apps.nhs.uk/app/five-ways-to-wellbeing/</p>
</div>



<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>