<style>
    
    h2
    {
        font-family:Verdana;
    }

p{
    font-family:Verdana;
    color:white;
            font-size:0.8em;
             text-align:justify;
}
li
{
    font-family:Verdana;
    color:white;
            font-size:0.8em;
}

.references
{
    font-size:0.8em;
}
    .video {
    width=100%;
    }

    </style>

<p>For many the experience of hearing voices is one of fear and confusion. </p> <p>Voices can occur at any time and voice hearers often describe this as being invaded which then produces feelings of helplessness and lack of control.  Many voice hearers adapt personal strategies to help them to manage their experiences. </p>

<h2>Distraction Techniques</h2>
<p> Distraction techniques help to decrease voices as they inhibit some of the neurological processes involved in voice hearing.</p>

<!--Click here to read more-->
<p>The most useful distraction techniques are those which involve speaking followed by listening and thinking. Therefore telephoning a friend, listening to and or singing along to music, watching television or doing maths puzzles in your head can all be useful. No one distraction technique is likely to be useful in every situation so it is important that people  practice a range of techniques to find one that works for them.  Ideally distraction techniques should also be easy to recall and use at times of high stress so it is important that they are easy to remember. It may be useful to centre the distraction around the persons hobbies, likes and dislikes. For example a person who likes football could distract themselves by trying to remember the top goal scorers from their club or putting football players' names in alphabetical order.</p>


<p><strong><a href="file:///android_res/raw/bobex.html">Click Here to engage in an exercise.</a></strong></p>

<h2>Thought Stopping</h2>

<p>Thought stopping is another technique which was originally used by people who had intrusive thoughts but has since proved very effective for some voice hearers.</p>

<!--Click here to read more-->
<p>The technique involves four stages which each voice hearer will advance through at different rates dependent upon the rate of progression. Initially whilst a person is hearing voices their companion shouts "stop it" repeatedly until the voices stop. In the next stage the person shouts "stop it" themselves, before whispering it in the third stage. The final stage involves the voice hearer thinking "stop it" until the voices cease.</p>

<p>Distraction and thought stopping can be very useful techniques to enable a person to assert some control and thus power over their voices. However it can be very emotionally tiring and some people find it beneficial to set a time limit for voices.  That is they will decide that they will listen to their voices once a day at 2pm for example and use the techniques at the other times. This can be very empowering as it places the voice hearer in charge.</p>

<!--end of click here to read more-->



<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>