<style>
    h2
    {
    font-family:Verdana;
    }
    p{
    font-family:Verdana;
    color:white;
    font-size:0.8em;
    text-align:justify;
    }

</style>
<br/>
<p>Consider the extend to which the voices did or did not impact on your ability to carry out the activity?</p>