<style>
    h2
    {
    font-family:Verdana;
    }
    p{
    font-family:Verdana;
    color:white;
    font-size:0.8em;
    text-align:justify;
    }

</style>
<br/>
<p>Reflect on the activity and think about how the voices made you feel. Also spend a minute to consider whether you used any particular strategies to cope with the voices during the activity?</p>