<style>
    h2
    {
    font-family:Verdana;
    }
    p{
    font-family:Verdana;
    color:white;
    font-size:0.8em;
    text-align:justify;
    }

</style>
<br/>
<p>To what extend did the voices effect your ability to engage in the social activity?</p>