<style>
    h2
    {
    font-family:Verdana;
    }
    p{
    font-family:Verdana;
    color:white;
    font-size:0.8em;
    text-align:justify;
    }

</style>
<br/>
<p>How might those around you have interpreted any changes in your behaviour during the exercise?</p>