<style>
    h2
    {
    font-family:Verdana;
    }
    p{
    font-family:Verdana;
    color:white;
    font-size:0.8em;
    text-align:justify;
    }

</style>
<br/>
<p>Reflect on your experience of the exercise and consider what impact voice hearing might have on your life over a prolonged period of time? What coping strategies might you employ?</p>