<style>
    
    h2
    {
        font-family:Verdana;
    }

p{
    font-family:Verdana;
    color:white;
            font-size:0.8em;
             text-align:justify;
}
li
{
    font-family:Verdana;
    color:white;
}

.references
{
    font-size:0.8em;
}

li
{
    color:white;
    font-family:Verdana;
            font-size:0.8em;
}

    </style>



<p>Why not spend some time investigating what resources are available to support friends and family of people who hear voices in your area.</p>



<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>