<style>
    h2
    {
    font-family:Verdana;
    }
    p{
    font-family:Verdana;
    color:white;
    font-size:0.8em;
    text-align:justify;
    }
    a
    {
    color:white;
    text-decoration:underline;
    }
    video
    {
    margin:0px;
    }
    .video {
    width=100%;
    }

</style>


<body>
<p>The brief introduction to a variety of biological, psychological, social and cultural explanations offered here is by no means exhaustive. It illustrates how implausible it is to assume that a single theory will be able to provide us with an answer to all of the questions raised by this complex phenomena. </p>

<p>We suggest that you recognise and celebrate the festival of explanations and develop an appreciation of the multifaceted and diverse nature of voice hearing.</p>

<p>Perhaps the most important explanation is the one that the voice-hearer themselves finds useful. Listen to the Peter's story and consider how he explains his experiences of hearing voices, reflect on how this relates to the explanations discussed here.</p>
<div id="msg"></div>
<a href="https://s3.amazonaws.com/a44343ff55ef-hearing-voices/peterstart.mp4" class="video">
    <img src="file:///android_res/raw/placeholderpeter.png" width="100%"/>
</a>

<p>Hear more from Peter in the podcast section of this App.</p>

</body>