<style>
    h2
    {
    font-family:Verdana;
    }
    p{
    font-family:Verdana;
    color:white;
    font-size:0.8em;
    text-align:justify;
    }

    li{
    font-family:Verdana;
    color:white;
    font-size:0.8em;
    }

    .references
    {
    font-size:0.8em;
    }
    a
    {
    color:white;
    text-decoration:underline;
    }

</style>

<p>Hearing or perceiving sounds takes place not in our ears but in our brain so the predominance of biological explanations for Hearing Voices comes as little surprise.</p>


<h2>Medical Model</h2>

<p>Many biological explanations conform to the medical model and explain voice hearing in terms of an illness, more specifically schizophrenia. However the diagnosis of schizophrenia is both poorly understood and contentious as it does not describe a person's experiences, merely labels them in a way that distinguishes the individual from the wider community. </p>

<p><strong><a href="file:///android_res/raw/medicalmodel">Click Here to Learn More</a></strong></p>


<p><strong><a href="file:///android_res/raw/schizexersise">Click Here to engage in an exercise.</a></strong></p>


<h2>Broader biological explanations</h2>

<p>There are a number of alternative biological explanations for voice hearing including:</p>

<ul>
    <li>Voices may be a misinterpretation of our inner speech (thoughts) mistaken for external sound. This is most likely to happen at times of high stress, for example it is common for the recently bereaved to hear the voice of the person who has died.</li>
    <li>Voice hearing may result from memories which appear as sounds in the conscious mind. This is derived from the premise that the human brain develops pathways and short cuts to help it analyse sensory information and interpret sounds. These pathways are   significantly influenced by our memories and our knowledge of the types of sounds likely to occur in any environment. Stress affects the brains ability to store these memories which are then distorted giving rise to voice hearing.</li>
    <li> There is also compelling evidence to indicate that the development of the brain is particularly susceptible to childhood trauma which can have a profound impact on our ability to distinguish between internal and external stimuli. This may explain the increased prevalence of voice hearing amongst survivors of childhood abuse.</li>
</ul>


<p>Whilst there is no clear biological explanation for voice hearing it is apparent that the physiology of the brain is not fixed and pre-determined but malleable with the individual's life experiences shaping the biology of their brain.</p>


<div class="references">

    <h2>Suggested reading</h2>
    <p><strong>Lewis, J and Webster, A t</strong> (2014) Sort your brain out, Chichester, Wiley and Sons
    </p>

    <p><strong>McCartney Jones, J</strong> (2012) Part 3 The causes of hearing voices in Hearing voices the histories, causes and meanings of auditory verbal hallucinations, Cambridge University Press, Cambridge

    </p>

</div>