<style>
    h2
    {
    font-family:Verdana;
    }
    p{
    font-family:Verdana;
    color:white;
    font-size:0.8em;
    text-align:justify;
    }
    a
    {
    color:white;
    text-decoration:underline;
    }


</style>

<p>Hearing voices in the absence of external sound, is not as rare as one might assume with between 4 and 15% of the general population experiencing this at some point in their lives.</p>

<p>We're all unique and the content, interpretation and impact of voice hearing are particular to each individual. As such it should come as no surprise to find that there are a number of diverse and sometimes conflicting theories which seek to explain voice hearing. The truth is that we cannot definitively claim to know why people hear voices.</p>

<p>This can be frustrating for those who would like a simple answer or some certainty, yet those who look to recent history will find explanations for voice hearing which range from the conceivable to the frankly bizarre.  Chlamydia, syphilis, poverty, cat faeces, excess coffee and even government mind control have all been proffered as explanations in the past. </p>

<p>Thus we ask that you consider the Biological, Psychological, Social and Cultural explanations offered here with an open mind and heed George Santayana's warning that "those who cannot learn from history are doomed to repeat it".</p>