<style>
    h2
    {
        font-family:Verdana;
    }
    p{
        font-family:Verdana;
        color:white;
                font-size:0.8em;
                 text-align:justify;
    }
    
    </style>
<br/>
<p>Hello and welcome to the "Hearing voices, a guide to understanding, helping and empowering individuals" Mobile Application.</p>

<p>This app has been funded by Health Education North-West.</p>

<p>Please tap the icon for further information.</p>


<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>