<style>
    h2
    {
    font-family:Verdana;
    }
    p{
    font-family:Verdana;
    color:white;
    font-size:0.8em;
    text-align:justify;
    }

</style>


<p>This App is the product of collaboration between healthcare professionals, health educators and voice hearers, and it provides a comprehensive educational package to support and promote your understanding of the challenges faced by people who hear voices.</p>
<p>The term "auditory hallucinations" is in common use in professional literature, however we favour the expression "Hearing Voices" which will be used throughout the resource to mean someone is hearing voices or sounds that others around them aren't.</p>

<p>The App can be used by an individual health professional, voice hearer, relative, friend or carer and it could be utilised as part of a facilitated educational session. The navigation bar at the bottom of the screen enables you to explore the "Explanations" for voice hearing, engage in "Simulation" exercises, consider some ways of "Helping" and listen to "Podcasts".</p>


<p>We hope that you enjoy using the resource and that it leaves you feeling informed.</p>