<style>
    h2
    {
        font-family:Verdana;
    }
    p{
        font-family:Verdana;
        color:white;
                font-size:0.8em;
                 text-align:justify;
    }
.exersize
{
    background-color:#60cbfd;
    margin:10px;
    padding:5px;
}
.references
{
    font-size:0.8em;
}
a
{
    color:white;
    text-decoration:underline;
}

    </style>


<p>Some voice-hearers find medication a useful tool to help them cope with their voices, whereas others find medication can make their voices, and quality of life, worse.</p>
<p>There are various types of medications that may be prescribed for people who hear voices, the main group being "anti-psychotics". Despite their name, anti-psychotic medications do not treat a specific illness, rather, they can, for some people, help supress the voices they hear, and reduce the associated distress. </p>
<p>While this may be helpful in the short-term, recent research studies have shown that people who took antipsychotic medication long-term had lower rates of recovery than those who did not. Other voice hearers find medication does not help even in the short term, and that the effects of the medication, which can include sleepiness during the day and symptoms similar to Parkinson's disease, can make their quality of life worse.</p>
<p>We know that anti-psychotic medications can have a detrimental effect on a person's physical health such as causing weight gain and high cholesterol. Thefore, it is important that people are fully informed of this and if a voice hearer chooses to take medication they should be offered advice on healthy eating and regular exercise.</p>
<p>As it is not possible to know who will be helped by medication, and who will find it unhelpful, it is important to offer people hearing voices an informed choice of whether to take medication or not, and to listen to voice hearers own experiences of medication.</p>


<p><strong><a href="file:///android_res/raw/medexersise.html">Click Here to engage in an exercise.</a></strong></p>



<p>It is important that anyone considering stopping or reducing their medication seeks medical advice before doing. They may also find it helpful to attend a "coming off medication" support group or read a guide such as this on coming off psychiatric medication. (See resources below)</p>


<!--put on another page-->
<p>To explore this approach to treatment further why not consider what other effects - positive and negative - taking medication could have for someone who hears voices by using the resources listed below, along with your own experiences to reflect on this.</p>
<!--end put on other page-->

<div class="references">
<h2>Suggested reading</h2>

<p><strong>Moncrieff, J. </strong>(2013). The Bitterest Pills: The Troubling Story of Antipsychotic drugs. Pallgrave Macmillan</p>




<h2>Other links</h2>
<p>Robert Whitaker's website 'Mad in America' includes many articles and blogs about antipsychotic medication: www.madinamerica.com</p>
<p>Electronic medicines compendium gives information about all medicines licensed for use in the UK: <a href="https://www.medicines.org.uk/emc/">https://www.medicines.org.uk/emc/</a></p>
<p>Information about antipsychotics from MIND: <a href="http://www.mind.org.uk/information-support/drugs-and-treatments/antipsychotics#.VEVnVCLF-E4">http://www.mind.org.uk/information-support/drugs-and-treatments/antipsychotics#.VEVnVCLF-E4</a></p>
<p>'Harm Reduction Guide to Coming off Psychiatric Drugs and Withdrawal' by the Icarus Project and Freedom Center. Free to download from: <a href="http://theicarusproject.net/HarmReductionGuideComingOffPsychDrugs">http://theicarusproject.net</a></p>
<p>'Coming Off Psychiatric Medication' website: <a href="http://www.comingoff.com/">http://www.comingoff.com/</a></p>

</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>