<style>
    
    h2
    {
        font-family:Verdana;
    }

p{
    font-family:Verdana;
    color:white;
            font-size:0.8em;
             text-align:justify;
}
li
{
    font-family:Verdana;
    color:white;
            font-size:0.8em;
}

.references
{
    font-size:0.8em;
}

    </style>



<p>This is the final stage on the journey to recovery and if we are to help someone with this we need to know where they want to go.  It sounds obvious but health professionals often assume that they know what a person wants or needs.</p>

<p>One way to support moving on is to focus on the desired future rather than on past problems or current conflicts. Here people should be encouraged to increase the frequency of current useful behaviours and create a vision of a preferred future while drawing on the persons past successes, strengths, and resources to enable that vision to become a reality. </p><p>Central to this technique is the use of questions which focus on solutions and their own skills and resources such as <br/><span style="text-align:center">"What has been helping you to survive?"<br/> "What does this teach you about yourself?"</span></p>




<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>