<style>
    h2
    {
        font-family:Verdana;
    }
    p{
        font-family:Verdana;
        color:white;
                font-size:0.8em;
                 text-align:justify;
    }
a
{
    color:white;
    text-decoration:underline;
}
.references
{
    font-size:0.8em;
}


    </style>

<p>Psychological explanations have been developed to understand the experience of voice hearing. These explanations can be useful when working with people, to help them make sense of their experiences. </p>

<h2>Individual Differences</h2>
<p>One aspect of this work has been to explain why some people find their voices distressing whilst others do not. Consider the fact that around 4 to 15% of the population experience voice hearing, but only around 1% of the population receives a psychiatric diagnosis. This suggests we need to be curious as to why voice hearing is problematic for some and not others. We also need to remember that the voice a person hears may be very important to them.</p>

<p><strong><a href="file:///android_res/raw/individualdifferences.html">Click Here to Learn More</a></strong></p>


<h2>Power</h2>
<p>Another very important aspect of voice hearing is the relationship a person has with the voices they hear. A person may believe that their voices are more powerful than they are, that they are more knowledgeable and they have control over them as a person.  Another person may hear the same words, in the same tone of voice, but believe that the voices have no power, very limited knowledge and no control over them.</p>

<p><strong><a href="file:///android_res/raw/power.html">Click Here to engage in an exercise</a></strong></p>

<p>Healthcare professionals need to afford attention to the individuals beliefs regarding their voices and consider the potential benefits which may be achieved by working together to minimise any potentially harmful beliefs.</p>


<p>Many of us may recognise our own propensity to engage in unhelpful coping strategies (drinking or eating to excess, spending money etc.) at times of stress. As such it may be useful to consider how  voice hearers  react and/or behave  in response to their voices. Avoiding going out, listening more to the voice and taking drugs to reduce them are all very common responses that can make the experience worse. </p>

<p>To make sense of a person’s experience of voice hearing, we therefore need to understand their life story, their relationship with the voice and how they cope with it.</p>

<div class="references">
<h2>Suggested reading</h2>
<p><strong>Chadwick, P., Lees, S. & Birchwood, M.</strong> (2000) The revised Beliefs About Voices Questionnaire (BAVQ-R). British Journal of Psychiatry, 177: 229-232.</p>

</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>