<style>
    h2
    {
        font-family:Verdana;
    }
    p{
        font-family:Verdana;
        color:white;
                font-size:0.8em;
                 text-align:justify;
    }
.references
{
    font-size:0.8em;
}

a
{
    color:white;
    text-decoration:underline;
}

    </style>

<p>The experience of voice hearing can be very disempowering for a person. The aim of self- management is to empower individuals to take control over their own recovery journey and to accept their voices rather than fear them.</p>


<p>Recovery is a journey which when applied to voice hearing is usually considered in three stages, CONTAIN, UNDERSTAND and MOVE ON.</p>

<p>Click below to learn more</p>


<p><strong><a href="file:///android_res/raw/contain.html">Contain</a></strong></p>

<p><strong><a href="file:///android_res/raw/understand.html">Understand</a></strong></p>

<p><strong><a href="file:///android_res/raw/moveon.html">Move On</a></strong></p>



<div class="references">
<h2>The following websites offer valuable advice on managing your own voices;</h2>
<p>www.hearing-voices.org<br/>
www.intervoiceonline.org</p>
</div>



<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>