<style>
    
    h2
    {
       font-family:Verdana;  
    }
    
    p{
        font-family:Verdana;
        color:white;
                font-size:0.8em;
                 text-align:justify;
    }
li
{
    font-family:Verdana;
    color:white;
            font-size:0.8em;
}

.references
{
    font-size:0.8em;
}

a
{
    color:white;
    text-decoration:underline;
}

    </style>

<p>When someone hears distressing voices it can often affect relationships with their family and friends. This is sometimes because it can be difficult for friends and families to understand firstly, what it is like to hear voices and secondly, the things that people do when they hear upsetting voices. </p>

<p><strong><a href="file:///android_res/raw/supportmore.html">Click Here to learn more.</a></strong></p>


<p>Family members may also have their own individual worries about their relative; particularly if their main source of information about hearing voices is from the media with the negative and stigmatising myths highlighted earlier in the app.</p>



<p>It can therefore be helpful to spend time with family and friends sharing accurate information.</p>

<p>There can be a value in the person themselves discussing the voice hearing experience with family members/friends, but sometimes people will not want to do this and it will be necessary to share information in a more general way. </p>

<p>Supporting families to understand that being too critical or doing too much can be helpful.</p>

<p>There are instances when people hearing voices may require a lot of additional support either in the short term because their voices are particularly frightening and distressing or in longer term because of additional problems and family members may take on a more formal caring role. Where this happens, it is important that carers are supported to think about how they may access independent support and take care of their own health and wellbeing.</p>


<p><strong><a href="file:///android_res/raw/supportmore1.html">Click Here to learn more.</a></strong></p>


<p><strong><a href="file:///android_res/raw/exersise.html">Click Here to engage in an exercise.</a></strong></p>



<div class="references">

<h2>The following organisations offer valuable advice to friends and family of people who hear voices;</h2>
<p>Carers UK - www.carersuk.org<br/>
MIND - www.mind.org.uk<br/>
Rethink - www.rethink.org.uk<br/>
Hearing Voices Network - www.hearing voices.org.uk</p>
</div>

    
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
<br/>