<style>
    
    h2
    {
        font-family:Verdana;
    }

p{
    font-family:Verdana;
    color:white;
            font-size:0.8em;
             text-align:justify;
}
li
{
    font-family:Verdana;
    color:white;
            font-size:0.8em;
}

.references
{
    font-size:0.8em;
}

    </style>


<!--Move to new screen-->
<p>For example, some people who find that their voices are worse in social situations, may start spending time on their own, perhaps isolating themselves in their room for hours at a time. If family members do not understand that these actions are a way of coping, they may think that the person is being anti-social or lazy and openly express these critical views. Alternatively, family members may react differently and think that they have to take extra care of the person hearing voices and start doing everything for them. Both ways of responding - becoming critical and/or taking on too many additional tasks - may actually increase stress for the person hearing voices and make their voices and worries worse.</p>
<!--End move to new Screen-->



