<style>
    h2
    {
        font-family:Verdana;
    }
p{
    font-family:Verdana;
    color:white;
            font-size:0.8em;
             text-align:justify;
}
.references
{
    font-size:0.8em;
}
a
{
    color:white;
    text-decoration:underline;
}


    </style>


<p>We will look at some specific types of therapy that have been developed to help people who hear voices and who are distressed by them. However, the mental health worker should not underestimate the importance of the general skills that underlie all therapies, those of building a therapeutic relationship, of listening to the experiences of the voice hearer and validating them. Some would argue that these are the most important aspects of any therapy, whilst others would argue that they are necessary but not sufficient and the specific components of the following therapies are also important in helping voice hearers on their journey to recovery.</p>

<h2>Cognitive Behavioural Therapy for psychosis (CBTp)</h2>
<p>The National Institute for Health and Clinical Excellence (NICE, 2014) recommend that everyone with psychosis is offered CBTp. In CBTp, the therapist works with the voice hearer to develop a 'formulation' or a shared understanding of the experience of voice hearing and why it is difficult for the person. It often includes efforts to make sense of the experience of voice hearing, taking into account the person's life story and their  social and interpersonal context. Beliefs about the power of the voice and the person's behavioural response to the voices; for example, doing what the voices tell them to do; are identified and addressed with standard Cognitive Therapy techniques. It is very important to first check out whether a person has positive beliefs about the voice and to see whether they could live without them. Therapy may then look for other ways of coping with life. Once it has been established that the person is ready to work directly on voice hearing, therapy may then look for evidence that disconfirms the power or control of the voice.</p>

<h2>Acceptance Commitment Therapy (ACT) and Mindfulness</h2>
<p>ACT and Mindfulness focus on the relationship a person has with their internal experiences, such as voice hearing. They encourage a person to notice voices, thoughts and feelings but not engage with them; for example, to stay in the moment and accept these experiences, rather than use external/physical coping strategies such as substance use or internal/mental strategies such as rumination (vicious cycles of negative thinking) or engaging in an internal conversation with the voice.</p>

<h2>Compassion Focussed Therapy (CFT)</h2>
<p>Compassion Focused Therapy is based on the idea that self-criticism, whether this is in the form of thoughts or voices, is a very effective way of keeping vigilant in unsafe environments. It's tricky though, because self/voice criticism can persist for a long time and we can still do this in safe environments.  CFT  suggests that working to develop and practice a caring, compassionate motivation towards the self and to others can lead to a reduction in the sense that we are under threat, thereby reducing the need to be vilgilant and to engage in self criticism, either in the form of thoughts or voices.</p>



<div class="references">
<h2>Suggested reading</h2>

<p><strong>Thomas, N., Hayward, M., Peters, E., Van Der Gaag, M., Bentall, R. P., Jenner, J., Strauss, C., Sommer, I. E., Johns, L., C., Varese, F., Garcia-Montes, J., M., Waters, F., Dodgson, G. and McCarthy-Jones, S. (2014). </strong> Psychological Therapies for Auditory Hallucinations (Voices): Current Status and Key Directions for Future Research. Schizophrenia Bulletin (40,4)pp.S202-S212.</p>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>