<style>
    
    h2
    {
        font-family:Verdana;
    }

p{
    font-family:Verdana;
    color:white;
    font-size:0.8em;
    text-align:justify;
}
li
{
    font-family:Verdana;
    color:white;
}

.references
{
    font-size:0.8em;
}

li
{
    color:white;
    font-family:Verdana;
    font-size:0.8em;
}

    </style>



<p>Consider how you could use some of the techniques from the therapies described (if you are not a therapist) in your work with voice hearers? Why not find out if there is anyone in your local area that you could ask for help around this?</p>



<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>