<style>
    h2
    {
        font-family:Verdana;
    }
    p{
        font-family:Verdana;
        color:white;
                font-size:0.8em;
                 text-align:justify;
    }
.references
{
    font-size:0.8em;
}
a
{
    color:white;
    text-decoration:underline;
}


    </style>


<p>It is useful to consider  some specific types of therapy that have been developed to help people who hear voices.</p>

<p>You should not underestimate the importance of the general skills that underlie all therapies, those of building a therapeutic relationship, of listening to the experiences of the voice hearer and validating them.</p>

<p>The  following therapies can be useful in  helping voice hearers on their journey to recovery.</p>

<!--Make a box-->
<h2>Cognitive Behavioural Therapy for psychosis (CBTp)</h2>
<p>The National Institute for Health and Clinical Excellence (NICE, 2014) recommend that everyone with psychosis is offered CBTp. In CBTp, the therapist works with the voice hearer to develop a ‘formulation’ or a shared understanding of the experience of voice hearing and why it is difficult for the person. It often includes efforts to make sense of the experience of voice hearing, taking into account the person's life story and their  social and interpersonal context. </p>
<p>Beliefs about the power of the voice and the person's behavioural response to the voices; for example, doing what the voices tell them to do; are identified and addressed with standard Cognitive Therapy techniques. </p><p>It is very important to first check out whether a person has positive beliefs about the voice and to see whether they could live without them.</p><p> Therapy may then look for other ways of coping with life. Once it has been established that the person is ready to work directly on voice hearing, therapy may then look for evidence that disconfirms the power or control of the voice.</p>

<!--Make a box-->
<h2>Acceptance Commitment Therapy (ACT) and Mindfulness</h2>
<p>ACT and Mindfulness focus on the relationship a person has with their internal experiences, such as voice hearing. They encourage a person to notice voices, thoughts and feelings but not engage with them. For example, to stay in the moment and accept these experiences, rather than use external/physical coping strategies such as substance use or internal/mental strategies or engaging in an internal conversation with the voice.</p>

<!--Make a box-->
<h2>Compassion Focussed Therapy (CFT)</h2>
<p>Compassion Focused Therapy is focused on developing people’s compassion both for themselves and others as a means of promoting recovery.</p>

<p>This is achieved by targeting feelings of shame, self-blame and self-criticism while directing attention to individual strengths such as courage, kindness and resilience. Individuals are taught to be mindful of their positive qualities and appreciate the world around them.
</p>

<!--Move to new page-->

<p>Consider how you could use some of the techniques from the therapies described (if you are not a therapist) in your work with voice hearers? Why not find out if there is anyone in your local area that you could ask for help around this?</p>

<div class="references">
<h2>Suggested reading</h2>

<p><strong>Thomas, N., Hayward, M., Peters, E., van der Gaag, M., Bentall, R. P., Jenner, J., Strauss, C., Sommer, I. E., Johns, L., C., Varese, F., Garcia-Montes, J., M., Waters, F., Dodgson, G. & McCarthy-Jones, S. </strong>(2014). Psychological Therapies for Auditory Hallucinations (Voices): Current Status and Key Directions for Future Research. Schizophrenia Bulletin. (40,4)pp.S202-S212.</p>
 </div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>