<style>
    
    h2
    {
        font-family:Verdana;
    }

p{
    font-family:Verdana;
    color:white;
            font-size:0.8em;
             text-align:justify;
}
li
{
    font-family:Verdana;
    color:white;
            font-size:0.8em;
}

.references
{
    font-size:0.8em;
}
    .video {
    width=100%;
    }
    </style>



<p>The next stage in the recovery process is to understand. For many people a key to managing their voices lies in interpreting the meaning of the voices within the context of their life history.  Consequently, helping the person understand the meaning of their voices, by discussing the content and the feelings they provoke, may help that person to recover. </p><p> This can be extremely challenging and anxiety provoking and should be undertaken with considerable care, indeed many people benefit from doing this within the context of a self- help group.</p>

<!--exersize-->
<p>Consider what meaning Kate gives to her voices, how might this help Kate to anticipate, understand and manage the voices in her everyday life?</p>

<a href="https://s3.amazonaws.com/a44343ff55ef-hearing-voices/katecoping.mp4" class="video">
    <img src="file:///android_res/raw/placeholderkate.png" width="100%"/>
</a>

<p>Hear more from Kate in the podcast section of this App</p>



<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>